{% extends 'forum/feeds/base.html' %}
{% load cms_tags %}

{% block feeds_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    {% for question in feeds_list %}
                        <li>
                            <a href="/{{ request.LANGUAGE_CODE }}/feed/question/{{ question.id }}/">
                                <h3>{{ question.question }}</h3>
                            </a>
                            <p>{{ question.description }}</p>
                            {{ question.asker.get_full_name }}
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

{% endblock %}
